.Cart {
  &_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 51px;
  }
  &_Title {
    margin-bottom: 24px;
  }
  &_Img {
    margin-bottom: 24px;
  }
  &_Info {
    margin-bottom: 36px;
  }
}