.TopBar {
  margin-bottom: 16px;
  border-bottom: 1px solid #DEDEDE;
  &_Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
  }
  &_Link {
    margin: 0 24px 0 22px;
  }
  &_Logo {
    flex-grow: 1;
  }
  &_Icons {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    flex-grow: 8;
  }
  &_Icon {
    margin-left: 70px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  &_Counter {
    text-align: center;
  }
}

@media(max-width: 1024px) {
  .TopBar {
  
  }
}