@import '../../constants/Variables.scss';

.TopBar {
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid $gray;
  background-color: $white;

  &_Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1163px;
    padding: 0 15px;
  }

  &_Hamburger {
    display: none;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    padding: 0;
    &:hover .line {
      stroke: $black;
    }
    & svg {
      display: block;
      width: 32px;
      height: 32px;
    }
  }

  &_Link {
    margin: 0 24px 0 22px;
  }

  &_Icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 8;
  }

  &_Icon {
    margin-left: 70px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &_Counter {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .TopBar {
    &_Link {
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &_Hamburger {
      display: flex;
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

@media(max-width: 767px) {
  .TopBar {
    &_Container {
      padding: 0 8px;
    }
  }
}

/* Hamburger */
.line {
  fill: none;
  stroke: $black;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.line.top,
.line.bottom {
  stroke-dasharray: 50px 600px;
  stroke-dashoffset: 0px;
}

.line.cross {
  stroke-dasharray: 50px 60px;
  stroke-dashoffset: 0px;
}

/* Cross */
.on .line.top,
.on .line.bottom {
  stroke-dasharray: 70.71px 600px;
  stroke-dashoffset: -392px; 
}

.on .line.cross {
  stroke-dasharray: 50px 60px;
  stroke-dashoffset: 51px;
}

/* Timing */
$timing: 0.35s;

.line.cross {
  transition: $timing stroke-dasharray ease $timing,
    $timing stroke-dashoffset ease $timing,
    $timing stroke ease 0s;
}

.line.top {
  transition: ($timing * 1.5) stroke-dasharray ease 0s,
    ($timing * 1.5) stroke-dashoffset ease 0s,
    $timing stroke ease 0s;
}

.line.bottom {
  transition: ($timing * 1.5) stroke-dasharray ease $timing,
    ($timing * 1.5) stroke-dashoffset ease $timing,
    $timing stroke ease 0s;
}

.on .line.cross {
  transition: $timing stroke-dasharray ease 0s,
    $timing stroke-dashoffset ease 0s,
    $timing stroke ease 0s;
}