@import '../../constants/Variables.scss';

.TopBarIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 8;

  &_Button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    border: none;
    width: 80px;
    height: 64px;
    padding: 0 30px;
    margin: 0 16px;
    cursor: pointer;
  }

  &_Link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 64px;
    padding: 0 30px;
    margin: 0 16px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: $black;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: .5s ease all;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    } 

    &_active {
      &::before {
        width: 100%;
      }
    }
  }

  &_Counter {
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 22px;
  }
}

@media(max-width: 1190px) {
  .TopBarIcons_Button {
    margin: 0 4px;
    padding: 0 8px;
  }

  .TopBarIcons_Link {
    margin: 0 4px;
    padding: 0 8px;

  }
}

@media (max-width: 992px) {
  .TopBarIcons {
    flex-grow: 0;
  }
  .TopBarIcons_Button {
    display: none;
  }
}

@media(max-width: 767px) {
  .TopBarIcons_Link{
    width: 45px;
  }
}


@media (max-width: 323px) {
  .TopBarIcons_Link {
    width: 32px;
  }
}