.Container {
  max-width: calc(1136px + 32px);
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.Main_Container {
  display: grid;
  grid-template-rows: 323px 323px;
  grid-template-columns: 326px 326px 468px;
  grid-gap: 8px;
}

.TableLamps {
  grid-column: 1 / 3;
  background-color: brown;
}

.FloorLamps {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: grey;
}
.ExteriorCeiling {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: pink;
}

.InteriorCeiling {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: greenyellow;
}
