@import "../../constants/Variables.scss";

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 368px;
  position: relative;

  &_Link {
    position: absolute;
    right: 0;
    top: 92px;
    text-decoration-line: underline;
  }

  &_Box_Link {
    text-decoration-line: underline;
  }

  &_Box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
  }

  &_Divider {
    text-align: center;
    width: 100%;
    color: #DEDEDE;
    position: relative;
    margin-bottom: 18px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      width: 167px;
      height: 1px;
      background: #DEDEDE;
      top: 10px;

    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 170px;
      height: 1px;
      background: #DEDEDE;
      top: 10px;
    }
  }

  &_Buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

  }

  &_Button {
    border: 1px solid $gray;
    width: 176px;
    padding: 12px 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & span {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
    }
  }
}


@media (max-width: 400px) {
  .LoginForm {
    min-width: 296px;
    &_Label {
      font-size: 12px;
      line-height: 22px;
    }
    &_Input {
      margin-bottom: 20px;
    }
    &_Submit {
      margin-bottom: 9px;
      padding: 7px 0;
      font-size: 12px;
      line-height: 22px;
    }
    &_Link {
      top: 90px;
      font-size: 10px;
      line-height: 15px;
    }
    &_Box {
      margin-bottom: 15px;
    }
    &_Box_Text {
      font-size: 10px;
      line-height: 15px;
    }
    &_Box_Link {
      font-size: 10px;
      line-height: 15px;
    }
    &_Button {
      padding: 6px 0;
      width: 144px;
      & span {
        display: none;
      }
    }
    &_Divider {
      font-size: 10px;
      line-height: 16px;
      margin-bottom: 9px;
      &:after {
        width: 140px;
        top: 7px;
      }
      &:before {
        width: 140px;
        top: 7px;
      }
    }
  }
}