
.SortProduct {
  margin-top: 26px;
  &_Title {
    margin-right: 12px;
  }
  &_Select {
    border: none;
    outline:none;
    font-family: "Poppins";
    font-weight: 500;
    color: #121212;
  }
  &_Option {
    cursor: pointer;
    border: none;
  }
}

@media (max-width: 323px) {
  .SortProduct {
    display: flex;
    align-items: center;
    margin-top: 12px;
    &_Title {
      font-size: 12px;
      line-height: 22px;
      margin-right: 8px;
    }
    &_Select {
      font-size: 12px;
      line-height: 22px;
      margin-bottom: 1px;
    }
    &_Option {
      margin-right: 6px;
    }
  }
}