.OrderSummary {
  width: 100%;
  max-width: 260px;
  height: 100%;
  min-height: 272px;
  padding: 10px;

  border: 1px solid #DEDEDE;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.01em;

  &_Title {
      color: #6D6D6D;
      margin-bottom: 20px;
  }

  &_Item {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
  }

  &_Delivery {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px solid #DEDEDE;
  }

  &_Total {
      display: flex;
      justify-content: space-between;
      color: #6D6D6D;
      padding: 15px 0;
  }

  &_TotalPrice {
      font-weight: 500;
      color: #121212;
      font-size: 14px;
  }
  &_Link {
    display: none;
  }

  &_Button_Link {
      display: block;
      width: 240px;
      height: 35px;
      background-color: #121212;

      line-height: 35px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #FAFAFA;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s ease;
      &:hover { 
        background: #424242;
      }
  
      &:focus {
        background: #6D6D6D;
      }
  }
}

@media (max-width: 767px) {
  .OrderSummary {
    border: none; 
    min-width: 100%;
    
    &_Title {
      display: none;
    }

    &_Button_Link {
      width: 100%;
      margin-bottom: 12px;
    }
    &_Item {
      display: none;
    }

    &_Link { 
      margin-top: 10px;
      display: block;
      text-align: center;
      text-decoration-line: underline;
    }
  }
}