.ResetPassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  justify-content: center;
  max-width: 368px;
  position: relative;
  &_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 51px;
  }
  &_Title {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 26px;
  }
  &_Link {
    position: absolute;
    right: 0;
    bottom: -18px;
    text-decoration-line: underline;
  }

  &_Label {
    padding-bottom: 2px;
  }

  &_Text {
    font-size: 12px;
    margin-bottom: 12px;
  }

  &_Input {
    font-family: "Poppins";
    border: 1px solid #6D6D6D;
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 27px;

    &::placeholder {
      color: #6D6D6D;
    }
  }

  &_Submit {
    margin-bottom: 18px;
    padding: 11px 0;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FAFAFA;
    background: #121212;
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: .3s ease;
    cursor: pointer;

    &:hover {
      background: #424242;
    }

    &:focus {
      background: #6D6D6D;
    }
  }

  &_Box_Link {
    text-decoration-line: underline;
  }



}