.ResetPassword {

  &_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 51px;
  }
  &_Form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    max-width: 368px;
    position: relative;
  }
  &_Title {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 26px;
  }
  &_Link {
    position: absolute;
    right: 0;
    bottom: -32px;
    text-decoration-line: underline;
    margin-top: 18px;
  }

  &_Text {
    font-size: 12px;
    margin-bottom: 12px;
  }
}


@media (max-width: 400px) {
  .ResetPassword {
    min-width: 296px;
    &_Title {
      font-size: 14px;
      line-height: 21px;
    }
    &_Text {
      font-size: 10px;
      line-height: 16px;
    }
    &_Label {
      font-size: 12px;
      line-height: 22px;
    }
    &_Input {
      margin-bottom: 42px;
    }
    &_Submit {
      margin-bottom: 9px;
      padding: 7px 0;
      font-size: 12px;
      line-height: 22px;
    }
    &_Link {
      bottom: -15px;
      font-size: 10px;
      line-height: 15px;
    }
  }
}