.Breadcrumbs {
  display: none;
}

@media (max-width: 992px) {
  .Breadcrumbs {
    display: flex;
    &_Link {
      margin-right: 12px;
    }
    &_Arrow {
      margin-right: 12px;
    }
  }
}

@media (max-width: 323px) {
  .Breadcrumbs {
    display: flex;
    align-items: center;
    &_Link {
      margin-right: 6px;
      font-size: 10px;
      line-height: 16px;
    }
    &_Arrow {
      margin-right: 6px;
    }
  }
}