.EmptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 51px;
  min-width: 368px;
  &_Title {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }

  &_Img {
    margin-bottom: 24px;
  }

  &_Info {
    margin-bottom: 36px;
  }

  &_Button {
    padding: 11px 112px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FAFAFA;
    background: #121212;
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: .3s ease;
    cursor: pointer;

    &:hover { 
      background: #424242;
    }

    &:focus {
      background: #6D6D6D;
    }
  }
}


@media (max-width: 400px) {
  .EmptyCart {
    min-width: 296px;
    &_Title {
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 1%;
    }
  
    &_Img {
      width: 34px;
    height: 54px;
    }
  
    &_Info {
      font-size: 12px;
      line-height: 22px;
      margin-bottom: 16px;
    }
    &_Link {
      top: 90px;
      font-size: 10px;
      line-height: 15px;
    }
    &_Button {
      width: 100%;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 1%;
      padding: 7px 0;
      & span {
        display: none;
      }
    }
  }
}