.SignUp {
  &_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 51px;
  }
  &_Title {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 26px;
  }
}

@media (max-width: 400px) {
  .SignUp {
    &_Container {
      margin-top: 24px;
    }
    &_Title {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 18px;
    }
  }
}